{{#each this}}
  <h1 class="country-name">{{name}}</h1>
  <div class="info-container">
    <div class='country-info'>
      <h2 class='country-capital'>Capital: <span class="info">{{capital}}</span></h2>
      <h2 class='country-population'>Population: <span class="info">{{population}}</span></h2>
      <h2 class='country-languages'>Languages: </h2>
      <ul class="languages-list">
        {{#each languages}}
        <li>{{name}}</li>
        {{/each}}
      </ul>
      
    </div>
    <img src='{{flag}}' alt='Flag of {{name}}' width="600" />
    {{/each}}
  </div>